.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 85vw;
  padding: 1.5%;
  background-color: rgba($color: #fff, $alpha: 0.4);
  .right-nav {
    button {
        border: none;
        background: transparent;
      img {
        height: 25px;
        width: 25x;
        cursor: pointer;
      }
    }
  }
}
