
.sidebar{
    width:15vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: lightgrey;
    padding: 5%;
    .top{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        img{
            height: 100px;
            width: 100px;
            border-radius: 50%;
        }
    }
    .middle{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 15px;
    }
    .last{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

    }
}