.sidebar {
  width: 15vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgb(24, 44, 61);
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  color: white;
  padding: 10%;
  gap: 5vh;

  .top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }
  }
  .middle {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
    gap: 0.5vh;
  }
  
}
.middle h3:hover  {
  color: red;
}


